- provide :image, @page.images&.first&.image&.url
= render 'seo', object: @page

.inner_content
  #page_banner
    = image_tag @page.feature_image&.short_banner

  .split_page
    .main_column.blogs_index

      .body_text
        .blogs_previews
          - Cd2Cms::Blog.order(created_at: :desc).first(10).each do |blog|
            .blog_preview
              %h2= blog.name
              .blog_preview_image
                = image_tag blog.feature_image.short_banner if blog.feature_image
              .blog_preview_text

                %p= truncate(strip_tags(blog.body), length: 250)
                = link_to 'More', "/blogs/#{blog.url_alias}"
    .side_column
      .sidebar_section
        %h3 Recent Blogs
        %ul
          - Cd2Cms::Blog.order(created_at: :desc).first(10).each do |blog|
            %li= link_to blog.name, "/blogs/#{blog.url_alias}"
