- provide :image, @blog.feature_image&.url
.inner_content
  #page_banner
    = image_tag @blog.feature_image&.slideshow if @blog.feature_image

  .split_page
    .main_column
      .body_text
        %h1= @blog.name
        = social_share_button_tag(@blog.title)
        = raw @blog.body
    .side_column
      = render 'page_calls'
      .gallery_sidebar
        - @blog.images.where(featured_image: false).each do |image|
          .gallery_image
            = image_tag image.image
