.field
  = f.label :layout
  = f.text_field :layout

= f.fields_for :page_info do |ff|
  .field
    = ff.label :home_page
    = ff.check_box :home_page

.field
  = f.label :image_text
  = f.check_box :image_text

.field
  = f.label :image_slideshow
  = f.check_box :image_slideshow