- provide :image, @page.feature_image&.url
= render 'seo', object: @page

.inner_content
  = image_tag @page.feature_image

  .split_page
    .main_column
      .body_text
        %h1= @page.name
        = raw @page.body
    .side_column
      
      .meet_the_team.sidebar_section
        - @page.images.where(featured_image: false).each do |team_member|
          = image_tag team_member.image.team
          %h4= team_member.caption
          = raw team_member.body
      = render 'page_calls'
