- provide :image, @page.images&.first&.image&.url
= render 'seo', object: @page

#banner_image
  #page_banner.flexslider
    %ul.slides
      - @page.images.each do |image|
        %li{style: "background-image: url(#{image.image.home_slideshow})"}
          .slide_banner_text
            .banner_overlay_text
              = raw image.body



#intro_panel.home_intro
  .inner_content
    %h2 We make property investing in Norfolk <span class="emphasis">easy</span>
    %h3 Agile Property Partners is a Norwich based company that&nbsp;excels in finding successful investment opportunities – providing a lucrative and safe ROI for our partners.
    .video= raw @page.video_url
    = raw @page.body

#home_project_previews
  %h2 Latest Projects
  .inner_content
    - Cd2Cms::Project.includes(:page_info).where(cd2_cms_page_infos: {published: true}).first(3).each do |project|
      .panel_preview
        - if project.feature_image
          .panel_image
            = image_tag project.feature_image&.team if project.feature_image
        .panel_text
          %h3= project.name
          %p= truncate(strip_tags(project.body), length: 100)
          = link_to 'More', project

#home_news_previews
  %h2 Latest News
  .inner_content
    - Cd2Cms::Blog.order(created_at: :desc).first(3).each do |blog|
      .panel_preview
        .panel_image
          = image_tag blog.feature_image&.team if blog.feature_image
        .panel_text
          %h3= blog.name
          %p= truncate(strip_tags(blog.body), length: 100)
          = link_to 'More', "/blogs/#{blog.url_alias}"
