- provide :image, @page.feature_image&.url
= render 'seo', object: @page

.inner_content
  - if @page.feature_image
    #page_banner
      = image_tag @page.feature_image&.slideshow

  .split_page
    .main_column
      .body_text
        %h1= @page.name
        = raw @page.body
    .side_column
      = render 'page_calls'
      .gallery_sidebar
        - @page.images.where(featured_image: false).each do |image|
          .gallery_image
            = image_tag image.image
