- provide :image, @page.feature_image&.url
= render 'seo', object: @page

.inner_content
  #page_banner.flexslider
    %ul.slides.show_page_slides
      - @page.images.each do |image|
        %li
          = image_tag image.image.slideshow


  .split_page
    .main_column
      .body_text
        %h1= @page.name
        = raw @page.body
    .side_column
      = render 'page_calls'
