.project_preview{data: {status: (project.status || true)}}
  %h2= project.name
  .project_preview_image
    = image_tag(project.feature_image&.team || '')
  .project_preview_text
    = raw project.keypoints
    .project_actions
      = link_to 'More', project
      = link_to 'Make Enquiry', enquiries_path(project_id: project.id)
  //.project_status
  //  = project.status&.titleize
