- provide :image, @page.feature_image&.url
= render 'seo', object: @page

.inner_content
  #page_banner
    = image_tag @page.feature_image&.slideshow

  .split_page
    .main_column
      .body_text
        %h1 Projects
        = raw @page.body
      //.filter_statuses
      //  = link_to 'All', '#', data: {filter: 'all'}, class: 'active'
      //  - Cd2Cms::Project.statuses.collect(&:first).each do |status|
      //    = link_to status.titleize, '#', data: { filter: status }
      .projects_previews
        = render partial: 'project', collection: @projects

    .side_column
      = render 'page_calls'
