- provide :image, @project.feature_image&.url
.inner_content
  - if @project.feature_image
    = image_tag(@project.feature_image&.short_banner)
  .split_page
    .main_column
      .body_text
        %h1= @project.name
        = raw @project.body
        - if @project.keypoints.present?
          .keypoints
            = raw @project.keypoints
      .google_map
        = raw @project.google_map
    .side_column
      = render 'page_calls'
.project_images
  .project_images_inner
    - @project.images.each do |image|
      .project_image= link_to image_tag(image.image.team), image.image.url, data: {lightbox: 'project_images'}
