#form_page
  = form_for @object do |f|
    #upper_form
      .title_field
        = f.text_field :name, placeholder: 'Project name'
      .right_form_buttons
        = f.submit
        = link_to 'Delete', @object, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class: 'delete_button'

    #main_form

      .tabs_container

        = radio_button_tag :tab, :content, true
        - if @object.class.included_modules.include? Cd2Cms::SitePage
          = radio_button_tag :tab, :metadata, (params[:tab]=='metadata')
        - if @object.class.included_modules.include? Cd2Cms::Imageable
          = radio_button_tag :tab, :media, (params[:tab]=='media')
        = radio_button_tag :tab, :publish, (params[:tab]=='publish')

        .tab_headings
          = label_tag :tab_content, 'Content'
          - if @object.class.included_modules.include? Cd2Cms::SitePage
            = label_tag :tab_metadata, 'Meta Data'
          - if @object.class.included_modules.include? Cd2Cms::Imageable
            = label_tag :tab_media, 'Media'
          = label_tag :tab_publish, 'Publish'

        .form_tabs
          .form_tab.tab--content_tab
            .field
              = f.label :body
              = f.text_area :body, class: 'wysiwyg'
            .field
              = f.label :keypoints
              = f.text_area :keypoints, class: 'wysiwyg'
            .field
              = f.label :google_map, 'Map Embed Code'
              = f.text_field :google_map
            //.field
            //  = f.label :status
            //  = f.select :status, Cd2Cms::Project.statuses.keys.map {|s| [s.titleize, s]}, selected: f.object.status, prompt: '-- status --'

          - if @object.class.included_modules.include? Cd2Cms::SitePage
            .form_tab.tab--metadata_tab
              = render 'page_info_fields', f: f

          - if @object.class.included_modules.include? Cd2Cms::Imageable
            .form_tab.tab--media_tab.reorderable
              = render 'imageable_fields', f: f

          .form_tab.tab--publish_tab
            .field
              = f.label :published
              = f.check_box :published


    #lower_form
      .right_form_buttons
        = f.submit
        = link_to 'Delete', @object, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class: 'delete_button'








