%tr{id: "project_#{object.id}"}
  %td.sort_handle= fa_icon('ellipsis-v')
  %td= object.name
  %td= object.created_at.strftime('%D')
  %td= object.published ? 'Yes' : 'No'
  %td= object.status&.titleize
  %td= link_to fa_icon('edit'), [:edit, object], class: 'table_icon'
  %td= link_to fa_icon('trash'), object, method: :delete, data: { confirm: 'Are you sure you wish to delete?' }, class: 'table_icon delete_icon'
