= f.fields_for :images do |f|
  .fields_for.columns{class: ('not_persisted' if f.object.image_cache.present?)}
    = f.hidden_field :image_cache
    = f.hidden_field :order, class: 'order_field'
    .sort_handle= fa_icon('ellipsis-v')
    .column.column--2
      .image_preview
        = image_tag f.object.image.preview
    .column.column--2
      .field
        = f.label :alt
        = f.text_field :alt
      .field
        = f.label :caption
        = f.text_field :caption
      - if @object.try(:image_text)
        .field
          = f.label :body
          = f.text_area :body, class: 'wysiwyg'
      - if @object.try(:image_slideshow)
        .field
          = f.label :slideshow_image
          = f.check_box :slideshow_image

      .field
        = f.label :featured_image
        = f.check_box :featured_image
      .field
        = f.label :_destroy, 'Delete Image?'
        = f.check_box :_destroy, class: '_destroy'

= f.label :new_images
= f.file_field :new_images, multiple: true, data: {auto_submit: :upload}
= button_tag 'Upload', name: :commit, value: :upload
