<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Almost a month now since the UK voted narrowly to leave the EU, creating political seizures in its aftermath: the resignation of the Prime Minister, Scotland stating it wants to remain as part of the EU, along with Northern Ireland.</span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Political casualties aside, there have been <strong>tremors felt across the financial market</strong>.</span></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">How?</span></span></strong></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Looking at the FTSE 100 index, in the immediate aftermath of Brexit, it fell dramatically but has since shown<strong> some tentative signs of recovery</strong>, unlike the FTSE 250 (which has more UK companies) which is only slowly catching up.. This has not recovered as well as the FTSE 100 index.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">As well as collateral damage to the FTSE index, property construction companies and banks have been wounded.</span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Sterling has crashed to a 31 year low against the dollar and its fall continues.</span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">In the domestic property market, there has been nervousness.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Some estate agents and new home developers are reporting a sluggish market, with lower listing activity, with some clients withdrawing from buying, with several purchasers even triggering Brexit clauses that were being offered on some new build developments.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Housing stock, generally, remains low.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Agents, though, <strong>speak positively of the large volume of property sales</strong> in late March and early April caused by the revised Stamp Duty charges. There is anticipation of a <strong>&ldquo;Brexit bounce&rdquo;</strong> which we will refer to again later.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Aviva (along with Standard Life) has suspended withdrawals from their commercial investment funds, prompted by investors edging funds away from the commercial sector.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="https://www.theguardian.com/business/2016/jul/05/commercial-property-fund-freeze-all-you-need-to-know-standard-life-aviva">This equates to &pound;5bn worth of funds.</a></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">There is however <strong>some market optimism</strong> amongst this investment gloom: potentially discounted properties in London could <strong>attract many overseas investors</strong>.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">This optimism stems from the rising value of the dollar v sterling, which may attract overseas investors to London in search of possible discounted properties.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Called the<strong> &ldquo;<a href="http://www.telegraph.co.uk/property/house-prices/post-brexit-property-planning-should-you-buy-sell-or-stick/" target="_blank">Brexit bounce</a>&rdquo;,</strong> there is widespread <strong>anticipation of recovery in the property market.</strong></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">In the shorter term, the Royal Institute of Chartered Surveyors is predicting price falls, though this dip is anticipated to be brief, with many investment experts predicting recovery, and property still being regarded as a good investment.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Brexit has led to uncertainty and nervousness across Europe, but Agile Property Partners firmly believe that<strong> uncertainty can create opportunity.</strong></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We will continue to monitor the investment market, looking for attractive investment returns whilst minimising risk.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If you&rsquo;d like to know more, contact us today.</span></span></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Phone; 01603 567804&nbsp;</span></span></strong></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Email;&nbsp;info@a-pp.co.uk</span></span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
