<p>3 bed detached cottage in village of North Lopham</p>

<ul>
    <li>PP &pound;155,000</li>
    <li>Title + costs &pound;7,000</li>
    <li>Gross annual rent &pound;16,324</li>
    <li>Annual profit &pound;10,300</li>
    <li>Annual ROI 27%</li>
</ul>
