<p><strong>HMO near University of East Anglia</strong></p>

<p>Conversion from 3 to 4 bedrooms</p>

<p>Purchase Price &pound;143,500</p>

<p>Refurbishment/Renovation &pound;15,000</p>

<p>Projected Resale &pound;210,000</p>
