<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">You have decided to invest in property, but how to get started? How do you get Estate Agents &quot;on your side&quot;?</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">At <strong>Agile Property Partners (&ldquo;APP&rdquo;)</strong> we have many years&rsquo; experience of dealing with property and want to share some of our tips to help new property investors.</span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">In this blog post, we talk specifically about <strong>estate agents &ndash; and how to get them &ldquo;on your side&rdquo;</strong>.</span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Walk down any street of any town or city, and you&rsquo;ll see the familiar fronts of independent and corporate estate agents. Their job is to acquire listings through valuations and then secure sales through expert marketing and negotiation.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">On the web, too, is a new group of online estate agencies, all vying to market and sell properties.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">At APP, we pride ourselves on building professional connections with estate agents and auction houses, to source the best property, in terms of financial returns.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">As an investor too, you should aim to foster positive working relationships with the estate agencies in the area you&rsquo;re looking to invest in. It&rsquo;s all very well walking through the door and expecting an estate agent to show you their best investment properties, but the fact is that estate agents are approached by so many people professing to be property investors that you will have to be prepared to earn their trust. The question is how to best develop that type of relationship with them, and how to find an investment property that is right for you.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">To get started, here are 6 tips:</span></span></p>

<ol>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If possible, <strong>arrange to meet an estate agent in person</strong> at some mutually convenient time. This way, you start to build a personal relationship and they get a great feel for what you&rsquo;re looking for. Remember an estate agent&rsquo;s dream buyer is a cash one, with no chain. As an investor, you could be that dream buyer.</span></span></li>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Add yourself to estate agency <strong>subscription lists </strong>and that of the portals, so when a property in your price band and preferred locale is launched, you are in prime position to view and make that quick offer.</span></span></li>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If you&rsquo;re social media savvy, like local estate agents&rsquo; <strong>Facebook pages and follow them on Twitter</strong>. Often an estate agent will tweet or post about a new property before it&rsquo;s even launched on their website or Rightmove.</span></span></li>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Watch trends in neighbourhoods</strong> &mdash; there&rsquo;s all sorts of online tools that can show you what a seller paid for a property and how much it is now worth in terms of capital value and its rental yields. Ensure you view Rightmove, Zoopla and Mouseprice on a regular basis to keep your knowledge of your investment area razor sharp.</span></span></li>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Look for<strong> historic patterns in prices</strong>. Is property in an area increasing in value rapidly, by 5% per annum, or is a 5% growth taking 3 years?</span></span></li>
    <li><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Ensure you <strong>log every property</strong> you find, view and place an offer on, and <strong>keep in touch with the Estate Agent to check the progress</strong> of each property through the sales process.You will be surprised how many property deals &ldquo;fall out of bed&rdquo; which can suddenly mean that your perhaps lower offer may now be acceptable!</span></span></li>
</ol>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">These are just some of the strategies we use at Agile Property Partners. </span></p>

<p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">If you would like to have a chat about your investments get in touch on&nbsp;</span><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">01603 567804&nbsp;or email&nbsp;info@a-pp.co.uk</span></span></strong></p>
