<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><img alt="" src="/uploads/ckeditor/pictures/10/content_Brexit_and_Agile_Property_Partners.jpg_300.jpg" style="width: 300px; height: 200px;" /></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">The day to register for the forthcoming referendum on remaining in, or leaving Europe, has passed and the day of voting on the 23rd June 2016 looms large on the horizon.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Instead of focusing on the political pros and cons of the European debate, Agile Property Partners thought we&rsquo;d speculate, using expert opinion, about how a Remain vote or an Exit vote could affect property prices and property investments.&nbsp;</span></span></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">What will happen to property if a Brexit vote wins?</span></span></strong></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If the British public votes to leave Brussels, experts are widely predicting a decline in property prices. Deutsche Bank and the credit rating agencies S&amp;P and Fitch have all confirmed this likelihood.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">George Osborne, the Chancellor, has warned, from the Treasury, that house prices could fall by between 10% to 18% by 2018 if we vote to leave.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">These are worrying statistics for both homeowners and property investors who could see, if these figures prove accurate, negative equity and capital losses, further dampening a slow property market.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Those in favour of Brexit may point to greater financial autonomy and argue that food prices would fall rapidly if Britain were allowed to pay world prices, and not those set by the EU. The London School of Economics, however, calculates that EU membership already saves each household &pound;350 per annum in food bills, which in turn allows property purchases and property investment.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Looking locally, at where we are based, in Norwich, if Osborne is correct: the current median property price in the city of &pound;220,000 could see future values dip below the &pound;200k mark or even further.</span></span></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">What will happen to property if a Remain vote wins?</span></span></strong></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">The property market we&rsquo;re currently experiencing may receive a shot in the arm, if Britain remains in the EU. The anticipated property price drops are unlikely to materialise, if we remain, experts assert.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Half of our exports go to fellow EU member countries and economists predict that this will continue to grow, making incomes rise and property prices increase with this.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Remaining in Europe is also being cited by David Cameron, the Prime Minister, as posing little threat to mortgage interest rates, which are currently low.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">He stated: &quot;Nearly all experts agree there will be instant shocks to the economy if we leave the EU and there is clear and present danger of higher mortgage rates.&rdquo;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Politicians and the media are fence-sitting on the outcome, with the result widely being declared too close to call.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Both the Remain and Exit camps are claiming victory due to 100,000 new voters registering on the extended registration day.&nbsp;</span></span></p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We wouldn&#39;t like to predict the result at APP; but, regardless of what happens in the referendum on 23rd June, people will always need somewhere to live and property investment will continue to be a sound financial investment strategy over the long term.</span></span></strong></p>

<p><br />
    &nbsp;</p>
