<p>Want to join us in the gym? Or perhaps a meal would be more to your taste!</p>

<p>OK, we don&rsquo;t usually invite our clients and partners to the gym &ndash; we get plenty of exercise visiting all the potential investment properties! But our new offices will boast a gym and restaurant.</p>

<p>As you can see, our&nbsp;busy start to the year was made even more exciting because it involved moving into these&nbsp;new&nbsp;offices .</p>

<p>The Union Building on Rose Lane, Norwich is&nbsp;a fantastic building that was originally built in the&nbsp;1970s. It has&nbsp;been completely renovated and&nbsp;refurbished (no orange and brown floral carpets&nbsp;here!) into an amazing space for businesses like&nbsp;ours to work from.</p>

<p>Situated right in the city centre, our fantastic new&nbsp;premises really does offer prime central Norwich&nbsp;location &ndash; ideal for when we&rsquo;re out and about&nbsp;viewing investment opportunities.</p>

<p>Plans are being made for a rooftop bar and restaurant and a fully&nbsp;equipped gym (for if and when either of us are feeling energetic!).</p>

<p>If you&rsquo;re thinking of investing with us, we&rsquo;d love to take you to lunch on the&nbsp;rooftop once it&rsquo;s open.</p>
