<h1><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Richard</span></span></strong></h1>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Alongside developing our investor relationships I&rsquo;m kept busy sourcing new investment opportunities.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">After a 25 year career in Financial Services and Sales, I was keen to combine what I&rsquo;d learned during that time with my desire to build a business on the core values of service, freedom and fun.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Our shared values, together with Wayne&rsquo;s skills in negotiation, project management and finance ensure that we make the most of the opportunities we discover.&nbsp;</span></span></p>

<p><img alt="" src="/uploads/ckeditor/pictures/3/content_Richard_300_Agile1012.jpg" style="width: 300px; height: 200px;" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Wayne&nbsp;</span></span></strong></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">I spend my time sourcing new investment opportunities and project managing them from start to finish once they are secured.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">My day job used to be working in the Insolvency and Business Recovery industry, both in East Anglia and London. Along the way I built up an extensive network of professional and business contacts whose advice and expertise is worth its weight in gold.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">I have also been involved in a family run commercial property business which has provided me with invaluable experience and knowledge in the property world.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><img alt="" src="/uploads/ckeditor/pictures/5/content_WayneAgile1048.jpg" style="width: 300px; height: 450px;" /></span></span></p>
