<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">At Agile Property Partners, we pride ourselves on our property investment knowledge and our insights into the local property market here in Norfolk, one of England&rsquo;s biggest counties.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">In this post, we&rsquo;ll give some background information about property investment in Norfolk and then conclude with 5 investment tips.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Norfolk is an attractive county for property investment, partly because the world-renowned University of East Anglia (established in 1963) attracts its 17,000 students from close by, nationally and internationally.</span></span></p>

<p><b style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Did you know that the student population of Norwich is almost 15% of its total?</b></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Students obviously need living quarters and some of Norwich&rsquo;s most popular student areas, like the Golden Triangle, edging Newmarket Road, Earlham Road and Unthank Road are sought-after by students, professionals and investors alike.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">The UEA, however, is not the only reason the area is attracting inward population migration and investment.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Norwich is an attractive, vibrant city, and Norfolk, with its scenery and climate, is growing too, along with property prices.&nbsp;</span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">The city has grown by 13,000 residents in ten years, whilst other parts of Norfolk are seeing equal population expansion.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">In 2011, Norfolk&#39;s population was estimated to be 857,900, an increase of 61,200 from 2001.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">This means there is plenty of demand for property across Norfolk, with no signs of it decreasing.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Yet Norwich and Norfolk, relative to Cambridge and the south east, remains affordable.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Property prices rise exponentially the closer one gets to Norwich with an average price of &pound;100,000 for a 1 bedroomed flat in the city and an overall average of just over &pound;200,000 eclipsing west, south and east Norfolk.</span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">North Norfolk, however, has its own property microclimate with places like Blakeney, Cley, Holt and Burnham Market, statistically, being more expensive than Norwich.</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Places like Cromer are more affordable, though, as are villages around Fakenham.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><b>So what should you look for when investing in property?</b></span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Here&rsquo;s just five considerations:</span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">1.&nbsp;&nbsp;&nbsp;&nbsp; </span><b style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;">Proximity to public transport.</b><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.6;"> Access to railway stations in Norfolk or good transport links within the bus network will reduce void periods and make letting easier.</span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">2.&nbsp;&nbsp;&nbsp;&nbsp; <b>Large employers. </b>Where there is a large employer, like the James Paget or N and N hospitals, or Aviva, there will inevitably be greater demand for accommodation from doctors and nurses, for example.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><b>3.&nbsp;&nbsp;&nbsp;&nbsp; </b><b>Property that will produce capital growth. </b>Investors, like you, want positive yields from rental, but also, perhaps, longer term, property that will see capital growth. Look for up and coming areas near the ones where demand is already healthy.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><b>4.&nbsp;&nbsp;&nbsp;&nbsp; </b><b>Hotspots. </b>King&rsquo;s Cross, Shoreditch and Islington are three areas of London that have boomed in recent years - but they never used to be like that. Look closely at Norwich and Norfolk and try to spot the next Hoxton hotspot.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><b>5.&nbsp;&nbsp;&nbsp;&nbsp; </b><b>Market analysis. </b>As an investor, set up alerts with the portals and estate agents for property that is new on the market and would make an ideal investment. A good indication of their investment value is how quickly (or slowly) they sell.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If you need any more property investment tips, please don&#39;t hesitate to contact us at Agile Property Partners.</span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
