<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">7 days to exchange on a difficult property deal - and we did it! This is where our expertise comes into play - spotting opportunities&nbsp;and turning them&nbsp;to our advantage. So how did we do this?</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Our regular check of auction results using the cracking research tool EIG unearthed a two bed cottage in quaint village of North Lopham, Norfolk, that had not achieved its reserve in the previous days&rsquo; auction in London.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Why would a Norfolk property be in a London auction you ask? Read On and all will become clear.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">The guide price looked very attractive, so what was discouraging bids on this apparently quaint cottage? Digging into the legal pack we soon discovered the challenge. The cottage was one of a pair which had been owned by the same individual and when the title had been drawn up the land ownership had been applied in such a way that <strong>each cottage owned the other&rsquo;s front drive and back garden!</strong> (cue blushes from the original solicitors...) <strong>This in effect made both properties un-mortgageable</strong> and even a cash buyer would find themselves in the unenviable position of having no rights of access to either the front or rear of their property.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">To further complicate matters the current owner had gone bankrupt, leaving one cottage in the hands of the original lender and the other with an Insolvency Practitioner (IP).&nbsp;So whilst the obvious solution was to swap the titles for each, unfortunately no one party had overall control of the properties to do so.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Further investigation revealed that while the IP had been in correspondence with the lender for several months no real progress had been made to resolve this major issue.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">The only solution we could see was that we would have to buy both! There were, however, several big challenges to overcome.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>One:</strong> The property being sold by the bank was listed in another auction in <strong>7 days&rsquo; time</strong>, so if we wanted to buy it we would have to<strong> agree a price and exchange before that date</strong>, with completion due a mere 14 days later!</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Two:</strong> We had to<strong> negotiate a deal with the IP </strong>who was selling the other property within the same 7 day period. Without control of both there really was no deal to be done!</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Three:</strong> The IPs are duty bound to get the best possible price on behalf of their creditors, therefore they will always negotiate hard. Remember we had less than 7 days to agree a price and exchange on both!</span></span></p>

<p><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Our solution?</span></span></strong></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">We spent many hours on the phone to both parties trying to negotiate a fair price. Each offer we made had to be passed to the relevant third party which slowed the process to a snail&rsquo;s pace. Sometimes days went by waiting for a call from one or other and when we did hear back it was a refusal. So we would make another offer. Then back to waiting. All the time the auction date for the bank&rsquo;s property drew ever closer! Tick&hellip;tick...tick&hellip;<br />
Now things get even more tense!</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">With one day left before the auction, the bank finally agreed a price of &pound;155,000. </span></span><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Great news. However we must transfer 10% of the funds that afternoon or they will still put it in the auction. Can we now get the IP to agree on a price? If we can&rsquo;t, then all of our hard work will have been for nothing.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">We speak to the IP and explain that our current offer is final and that we will walk away if they don&rsquo;t accept it today. They need time to consider. The hours slip by, but finally they agree the price (&pound;160,000) with same dictates on a 10% deposit within 24 hours.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Our solicitor (Robert from Isadore Goldman) then performs minor miracles with the legals, which sees the deposit funds sent across to both parties within the agreed time scales. The bank pulled the property from the auction and then set the clock for completion of the balance of funds in 14 days.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">The IP was slightly more relaxed...they wanted funds in 21 days.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Now anyone who has ever attempted&nbsp;to get a mortgage would probably agree that getting an application completed within these time scales can be somewhat challenging, we agree. So we use bridging finance in these types of situation. Yes it can be deemed&nbsp;expensive, however if a deal needs fast finance then in my opinion it&#39;s a cost worth paying.</span></span></p>

<p><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Eyes on the ground.</span></span></strong></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">So with funds being raised and our solicitor moving the purchase forward, we make a visit to the properties to best assess how to resolve those pesky title issues.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Although this is a paperwork exercise, I believe it pays to get eyes on the ground, and this certainly helped here. Resolving the ownership of the back gardens was straightforward enough, however ensuring that access to the front gardens and driveways of both properties was fair and equitable took more than a few conversations with both our solicitor and the selling agent! However we finally agreed a layout to suit all parties.</span></span></p>

<p><strong><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">A Happy Ending.</span></span></strong></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">We have now completed on both properties and with the title documents ready to file with Land Registry, both properties are now back on the market and creating a great deal of interest from both local residents and those looking to move into the village. An open viewing over the weekend was well attended and will hopefully get those offers flowing.</span></span></p>

<p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">In the meantime we are involved in other projects including several HMO conversions for the ever growing student market in our local area!</span></span></p>

<p>&nbsp;</p>
