<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">With the local property market going from strength to&nbsp;&nbsp;strength, we&rsquo;re confident that Norwich will continue to be a&nbsp;property hotspot for investors.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">In October&nbsp;the Telegraph&nbsp;shared the following prediction:</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">&quot;Over the period 2015-19, the area&nbsp;likely to record the highest price rises, 21 per cent, is the east&nbsp;of the country, incorporating cities such as Cambridge,&nbsp;Norwich and Lincoln&quot;.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">The Guardian also reported that&nbsp;&nbsp;Norwich was in fifth place in property buyers&rsquo; internet search&nbsp;results in 2015 (outside of London).&nbsp;&nbsp;A combination of a growing attraction to Norfolk as a place to live, continuing population growth, and a shortage of&nbsp;&nbsp;properties in the area has meant that average prices in East&nbsp;&nbsp;Anglia are set to rise by 8 percent this year, according to the&nbsp;Royal Institution of Chartered Surveyors (RICS), compared to&nbsp;&nbsp;a UK average of just 6 percent.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Norwich itself is certainly&nbsp;&nbsp;seeing a boost in local infrastructure, including road and rail&nbsp;improvements, and business growth that only goes to&nbsp;strengthen the city&rsquo;s reputation. And where reputation rises,&nbsp;so does average property value!</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">As a specialist property investment company we deal with both commercial and residential properties and know the Norwich property market well.&nbsp;</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">This means that we are able to offer amazing opportunities to our investment partners, as well as people looking to sell quickly and easily.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">If you are looking to invest in property, especially if you are interested in Norwich / Norfolk as an investment area, meet us for coffee and a chat.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Phone us on&nbsp;01603 567804.</span></span></p>
