<h2><u><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Working in partnership</span></span></strong></u></h2>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">The Agile team is based in Norwich, and our specialist knowledge of both the property investment process and the local area ensures our investment partners the best possible deals. By sourcing, purchasing, and managing properties in the area, we obtain only the most profitable opportunities for our partners.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We pride ourselves on building robust partnerships with investors, helping them to understand the complex&nbsp;and often confusing selection of options in the market and enabling them to make shrewd decisions throughout the entire process &ndash; from sourcing the right opportunity to managing rental properties.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">It is for this reason that we like to meet potential investors at the outset, to ensure that there is a good fit both with our ethos and their needs.</span></span></p>

<h2><u><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Supporting you every step of the way</span></span></strong></u></h2>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Our investors get all the advice, support&nbsp;and guidance they need to ensure only the most successful investment solutions for their individual needs - from sourcing the most profitable and sound investment opportunities to managing the complete investment, legal&nbsp;and property management processes. Whether they want to be hands-on, hands-off, or somewhere in-between, we commit to offering the exact level of support needed.&nbsp;We&rsquo;ve built excellent relationships with the people and companies needed to fully optimise investments from professional contacts such as architects, solicitors, finance brokers, and estate agents, to tradespeople such as builders, electricians and plumbers.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Although our expert knowledge of the property industry means our deals happen quickly and efficiently, saving our investment partners unnecessary time and money, we never rush into a deal. A great deal of thought and analysis goes into every deal before we commit, because we want to make sure our choices are 100% right for our partners&rsquo; investments as well as our own.&nbsp;Our expertise, contacts&nbsp;and thorough analysis all combine to give our partners the most intelligent and secure ventures possible, providing solid returns on investment.</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We understand the complexities of property investment, which means we can swiftly identify and overcome any challenges that occur during the process &ndash; from practical issues like structural problems, to complex legal issues. We deal with any complications involved in the process so our investment partners don&rsquo;t have to.</span></span></p>

<h2><u><strong><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Contact us now</span></span></strong></u></h2>

<p><span style="font-family:arial,helvetica,sans-serif;"><strong><span style="font-size: 14px; line-height: 22.4px;">If you are thinking about investing in property, </span></strong></span></p>

<p><span style="font-family:arial,helvetica,sans-serif;"><strong><span style="font-size: 14px; line-height: 22.4px;">call us on&nbsp;</span></strong></span><span style="font-family:arial,helvetica,sans-serif;"><strong><span style="font-size: 14px; line-height: 22.4px;">01603 567804&nbsp;and </span></strong></span></p>

<p><span style="font-family:arial,helvetica,sans-serif;"><strong><span style="font-size: 14px; line-height: 22.4px;">email us on <a href="mailto:info@a-pp.co.uk?subject=Enquiry">info@a-pp.co.uk</a></span></strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Here are a few examples of current/ recent projects</strong>. </span></span></p>

<p>&nbsp;</p>

<p><strong>2 Bed Cottage North Lopham</strong></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Purchase Price &pound;160,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Light refurbishment &pound;2,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Projected Resale &pound;180,000</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>3 Bed Cottage North Lopham</strong></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Purchase Price &pound;155,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Light Refurbishment &pound;2,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Projected Resale &pound;190,000</span></span></p>

<p><img alt="" src="/uploads/ckeditor/pictures/8/content_Norfolk_property_investment.jpg_North_lpham_300.jpg" style="width: 300px; height: 225px;" /></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>HMO near University of East Anglia</strong></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Conversion from 3 to 4 bedrooms</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Purchase&nbsp;Price &pound;143,500</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Refurbishment/Renovation &pound;15,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Projected Resale &pound;210,000</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>3 Bed Bungalow Hellesdon, Norwich</strong></span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Purchase Price &pound;165,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Refurbishment/Renovation &pound;30,000</span></span></p>

<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Projected Resale &pound;250,000</span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
