<p>Agile Property Partners Limited is committed to safeguarding the privacy of users of the website www.a-pp.co.uk. This policy sets out how we will treat your personal information. When you provide your personal data to us, you are deemed to have read this privacy policy.</p>

<p>For the purpose of the Data Protection Act 1998 (the &ldquo;Act&rdquo;), the data controller is Agile Property Partners Ltd and our trading address is &ndash; The Union Building, 51-59 Rose Lane, Norwich, Norfolk NR1 1BY</p>

<p><b>VAT No. &ndash; Pending Company No. &ndash; 09633837</b></p>

<h1>What information is collected?</h1>

<p>We may collect, store and use the following kinds of personal data:</p>

<ul>
    <li>information about your visits to and use of this website; </li>
    <li>information collected from our online forms including; your name, address, email address, your telephone number...</li>
</ul>

<h1>Visiting www.a-pp.co.uk</h1>

<p>We may collect information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and number of page views. We may use this information in the administration of this website, to improve the website&rsquo;s usability, and for marketing purposes.</p>

<p>We use cookies on this website. A cookie is a text file sent by a web server to a web browser, and stored by the browser. The text file is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.</p>

<p>We may send a cookie which could be stored by your browser on your computer&rsquo;s hard drive. We may use the information we obtain from the cookie in the administration of this website, to improve the website&rsquo;s usability and for marketing purposes. We may also use that information to recognise your computer when you visit our website, and to personalise our website for you.</p>

<p>Most browsers allow you to refuse to accept cookies. (For example, in Internet Explorer you can refuse all cookies by clicking &ldquo;Tools&rdquo;, &ldquo;Internet Options&rdquo; , &ldquo;Privacy&rdquo;, and selecting &ldquo;Block all cookies&rdquo; using the sliding selector.) This will, however, have a negative impact upon the usability of many websites, including this one.</p>

<h1>Personal data usage</h1>

<p>Personal data submitted on this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.</p>

<p>In addition to the uses identified elsewhere in this privacy policy, we may use your personal information to:</p>

<ul>
    <li>improve the users browsing experience of the website.</li>
    <li>send information (other than marketing communications) to you which we think may be of interest to you by post or by email or similar technology.</li>
    <li>send to you marketing communications relating to our business which we think may be of interest to you by post, email or similar technology (you can inform us at any time if you no longer require marketing communications by emailing us at info [@] a-pp.co.uk).</li>
</ul>

<p>We will <b>NEVER</b> provide your personal information to any third parties for the purpose of direct marketing.</p>

<h1>Other disclosures</h1>

<p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere in this privacy policy, we may disclose information about you: </p>

<ul>
    <li>to the extent that we are required to do so by law; </li>
    <li>in connection with any legal proceedings or prospective legal proceedings; </li>
    <li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</li>
    <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
</ul>

<h1>Personal data safeguarding</h1>

<p>We will take reasonable precautions to prevent the loss, misuse or alteration of your personal information. Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>

<p>We will store all the personal information you provide on our secure servers.</p>

<h1>Policy amendments</h1>

<p>We may update this privacy policy from time-to-time by posting a new version on our website.</p>

<h1>Third party websites</h1>

<p>The website contains links to other websites. We are not responsible for the privacy policies of third party websites. We do not store credit card details nor do we share customer details with any 3rd parties.</p>

<h1>Any questions?</h1>

<p>If you have any questions about this privacy policy or our treatment of your personal data, please write to us by email to <a href="mailto:info@a-pp.co.uk">info@a-pp.co.uk</a> or by post to Agile Property Partners Limited, The Union Building, 51-59 Rose Lane, Norwich, Norfolk, NR1 1BY.</p>
