body
  font-family: "Proxima Nova", "proxima-nova", Sans-Serif
  font-size: 87.5%
  -webkit-font-smoothing: antialiased
  background-color: #efefef

a
  color: $primary
  text-decoration: none
  a:hover
    text-decoration: underline
img
  max-width: 100%

.hidden
  display: none

h1, h2, h3, h4, h5, h6, p, li, span
  color: rgba(0, 0, 0, 0.7)
  opacity: 0
  .wf-active &
    opacity: 1
    transition: 0.2s

.page_name
  text-align: center
  h1
    display: inline-block
    text-align: center
    padding: 15px 70px
    border: 1px solid
    color: #24C1FF
    border-radius: 50px
    font-weight: 400
    text-transform: uppercase
    font-size: 1.125rem
    margin: 24px 0 24px

p, li
  line-height: 1.7rem

.inner_content
  padding: 0 24px
  max-width: 1050px
  margin: 0 auto

.body_text
  > p:first-of-type
    font-size: 1.125rem

.split_page
  @media screen and (min-width: 850px)
    +flexbox
.main_column
  padding-top: 30px
  min-height: 250px
  +flex(1)
.side_column
  +flex(0 0 270px)
  padding: 30px 0 50px 50px
  @media screen and (max-width: 1000px)
    +flex(0 0 200px)
    padding: 50px 0 30px 50px
  @media screen and (max-width: 850px)
    padding: 50px 0
  &.left_side
    padding: 10px 50px 50px 0
    @media screen and (max-width: 1000px)
      padding: 50px 50px 30px 0
    @media screen and (max-width: 850px)
      padding: 50px 0

.sidebar_section
  padding-bottom: 20px
  margin-bottom: 20px
  + .sidebar_section
    border-top: 1px solid #ddd
  ul
    padding: 0
  li
    list-style: none
    margin-bottom: 6px
.mid_section
  padding-top: 20px
  margin-top: 20px
  border-top: 1px solid #ddd
.sidebar_action
  background-color: $primary
  color: white
  display: block
  text-align: center
  height: 40px
  width: 200px
  border-radius: 20px
  line-height: 40px
  font-weight: 600
  margin-bottom: 10px

#on_site_admin_bar
  background-color: $primary
  top: 0
  left: 0
  width: 100%
  border-bottom: 1px solid rgba(255, 255, 255, 0.25)
  font-size: 0
  a
    display: inline-block
    padding: 0 20px
    color: white
    font-weight: 600
    font-size: 0.75rem
    text-align: center
    line-height: 40px
    text-decoration: none
    text-transform: uppercase
    border-right: 1px solid rgba(255, 255, 255, 0.25)
    transition: background-color 0.1s
    &:first-of-type
      border-left: 1px solid rgba(255, 255, 255, 0.26)
    &:hover
      background-color: #00005b

      + a
        border-left: 1px solid rgba(255, 255, 255, 0.25)
  .edit_link
    display: inline-block
    a
      margin-right: 20px
      border-left: 1px solid rgba(255, 255, 255, 0.25)

  .right_link
    float: right
    a:hover


.blog_preview, .project_preview
  margin-bottom: 30px
  padding-bottom: 30px
  border-bottom: 1px solid #ddd
  position: relative

.project_status
  position: absolute
  top: 4px
  right: 40px
  background: $primary
  font-weight: bold
  color: white
  padding: 3px 5px
  font-size: 12px

.tips_form_container
  border-top: 5px solid $primary

#subscribe_footer + div
  background: white

._button-wrapper
  display: inline-block

._form-title
  font-size: 1.7em

._form-content ._form_element:nth-child(3), ._form-content ._form_element:nth-child(4)
  display: inline-block
  max-width: 390px
  min-width: 300px

._form
  width: 100%
  margin: 0 auto 0
  padding: 20px
  box-sizing: border-box

._form-content
  max-width: 800px
  margin: 0 auto

.project_preview_image, .project_preview_text
  display: inline-block
  vertical-align: top
  width: 345px
.project_actions
  .right
    float: right

.project_preview a
  font-weight: bold
  color: white
  background-color: $primary
  display: inline-block
  padding: 10px 15px
  text-transform: uppercase

.keypoints
  background: $primary
  padding: 20px
  color: white
  li, span
    color: inherit

.project_images
  background: rgba($primary, 0.1)
  .project_images_inner
    font-size: 0
    max-width: 1000px
    margin: 0 auto
    padding: 25px
    .project_image
      display: inline-block
      vertical-align: top
      width: 300px
      margin: 10px

.google_map iframe
  width: 100%
  margin: 24px 0
