@import jquery-unslider
@import jquery-unslider-dots
@import lightbox
@import normalize
@import variables
@import flex_mixins
@import core
@import social-share-button
@import form

@import header
@import footer

@import home
@import contactus

.unslider-nav
  margin-top: -30px
  margin-bottom: 30px
  position: relative

ul.slides
  height: 600px
  &.show_page_slides
    height: auto

  li
    height: 100%
    background-size: cover
    background-position: 50%

.projects_previews
  margin-top: 50px
  ul
    padding: 0

.filter_statuses
  a
    background: $primary
    padding: 5px 10px
    color: white

    &.active
      font-weight: bold

    &:not(.active)
      opacity: 0.7
  
