#contact_panel
  margin: 0 auto
  max-width: 800px
  padding: 0 40px 40px
  text-align: center
  p
    font-size: 1rem
    color: $primary
    margin-bottom: 24px
  .contact
    font-size: 1rem
    color: #666666
  .contact_deets
    .contact
      margin: 20px 20px 0
      display: inline-block
      span:first-child
        color: $primary
  a
    color: inherit
  label
    text-align: left
    color: $primary