#footer
  background: #1b1b1b
  color: #e5e5e5
  text-align: center
  padding: 20px 30px 40px
  line-height: 2rem
  img
    height: 70px
    margin: 10px
  p
    margin: 2px
    color: white
  a
    text-decoration: none
    color: #999

    &:hover
      color: #e5e5e5
      text-decoration: underline