input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select
  -webkit-appearance: none
  border: 1px solid rgba(0,0,0,0.15)
  border-radius: 3px
  padding: 12px 15px
  font-size: 1em
  font-family: inherit
  margin: 3px 0 20px
  width: 100%
  box-sizing: border-box
  outline: none
  cursor: pointer

.field_with_errors
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="radio"],
  textarea,
  select
    border-color: red
  &+ span
    color: red!important
  label
    color: rgba(255, 0, 0, 0.4)

input[type="submit"],
button[type="submit"]
  background-color: $primary
  border: none
  font-size: 1em
  color: white
  height: 50px
  min-width: 125px
  margin: 5px 0
  font-weight: 600
  display: block

label
  display: block
  font-size: 12px
  font-weight: 600
  color: #999999
  text-transform: uppercase

.check_box_field
  margin-bottom: 15px
