#header
  height: 125px
  padding: 0 30px
  background-color: #f5f5f5
  transition: 0.3s
  @media screen and (max-width: 750px)
    padding: 0
    overflow: hidden

#header_inner
  max-width: 1050px
  margin: 0 auto
  position: relative
  height: 125px

#logo
  max-width: 275px
  position: absolute
  left: 0
  top: 12px
  @media screen and (max-width: 900px)
    width: 200px
    top: 30px
  @media screen and (max-width: 750px)
    left: 50%
    margin-left: -100px
    top: 40px

#header_contact_info
  position: absolute
  top: 30px
  right: 0
  @media screen and (max-width: 750px)
    top: 0
    width: 100%
    text-align: center
    background-color: $primary
    padding: 10px 0
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    color: #666
    @media screen and (max-width: 750px)
      color: white

    &.social_link
      max-width: 16px
      margin: 0 5px
      @media screen and (max-width: 750px)
        display: none

#main_nav
  position: absolute
  right: 0
  @media screen and (min-width: 750px)
    bottom: 35px
  @media screen and (max-width: 750px)
    width: 100%
    background-color: #0D6392
    top: 125px
    position: relative

  a
    display: inline-block
    text-transform: uppercase
    font-weight: 600
    margin: 0 10px
    @media screen and (max-width: 900px)
      margin: 0 4px

    &.current
      color: white
      background: #00B4D0
      padding: 0 10px
    @media screen and (max-width: 750px)
      display: block
      padding: 20px
      color: white
      text-align: center
      &.current
        padding: 20px
#menu_toggle
  display: none
  cursor: pointer
  @media screen and (max-width: 750px)
    display: block
    position: absolute
    top: 68px
    right: 20px
    .bar
      width: 40px
      height: 6px
      margin-bottom: 6px
      border-radius: 3px
      background-color: $primary

.menu_open #header
  height: 524px

iframe
  max-width: 100%