span.emphasis
  color: $primary
  text-shadow: none

div#intro_panel
  &.home_intro
    padding-top: 30px
  h2
    text-transform: uppercase
    color: #999999
    font-size: 1.25rem
    letter-spacing: 2px
  h3
    font-size: 1.125rem
    font-weight: 100
  padding: 0 30px 50px
  margin: 0 auto
  max-width: 900px
  color: rgba(0,0,0,0.75)
  font-size: 1rem
  text-align: center
  line-height: 1.75rem
  a
    display: inline-block
    margin: 20px 20px 0
    padding: 15px 30px
    border: 1px solid
    color: $primary
    border-radius: 50px
    width: 160px

#home_main_content
  background: #e5e5e5

#home_main_content_inner
  text-align: center
  max-width: 800px
  margin: 0 auto
  line-height: 1.7rem
  padding: 40px
  ul
    flex-shrink: 0
    padding: 0
    color: #666
    margin: 0
    list-style: none
    line-height: 1.5em
  li
    list-style: none


  p
    font-size: 1rem
    color: #666
    line-height: 1.875em


div#enquiry_form_panel
  background: $secondary
  padding: 50px
  box-sizing: border-box
  text-align: center
  label
    text-align: left
  color: white
  font-size: 0.75rem
  #enquiry_form_panel_inner
    max-width: 1000px
    margin: 0 auto


  div#enquriy_content
    font-size: 1.25em
    line-height: 1.6em
    h4

      font-size: 1.25rem

  div#enquiry_form_container
    padding: 30px
    box-sizing: border-box
    width: 100%
    max-width: 600px
    margin: 0 auto
    +flex-shrink(0)
    color: #FFF

div#closing_sentence
  text-align: center
  font-size: 2em
  color: #e5e5e5
  margin: 50px

#home_project_previews, #home_news_previews
  font-size: 0
  text-align: center
  margin-bottom: 30px
  h2
    text-transform: uppercase
    color: #999999
    font-size: 1.25rem
    letter-spacing: 2px
.panel_preview
  padding: 0 20px
  box-sizing: border-box
  text-align: left
  font-size: 0.9rem
  display: inline-block
  width: 33.33%
  vertical-align: top
  min-width: 280px

div.slide_banner_text
  z-index: 1000
  width: 100%
  padding: 30px
  box-sizing: border-box
  background-color: rgba($primary, 0.7)
  margin-top: 100px

  h1, h2, a
    color: white
  h1
    font-size: 2.5rem
    margin-bottom: 0
  h2
    margin-top: 10px
    font-size: 1.75rem
    font-weight: 100
  a
    font-weight: 600
    text-transform: uppercase
    font-size: 1.1rem
    display: inline-block
    padding: 16px 40px
    background-color: $secondary
  @media screen and (max-width: 1050px)
    top: 10%
    h1
      font-size: 2rem
    h2
      font-size: 1.4rem
  @media screen and (max-width: 850px)
    position: relative
    top: 0

.banner_overlay_text
  max-width: 1000px
  margin: 0 auto
  p
    color: white
