#on_site_admin_bar
  - if content_for?(:edit)
    .edit_link
      = yield :edit
  = render 'cd2_cms/application/content_menu'

  .right_link
    = link_to 'Log out', cd2_cms.destroy_user_session_path, method: :delete