#subscribe_footer
  .tips_form_container
    %script{:charset => "utf-8", :src => "https://agilepropertypartners.activehosted.com/f/embed.php?id=1", :type => "text/javascript"}
    %script $(function(){$('#subscribe_footer').next('div').find('style').remove();});

#footer
  = image_tag("logo_icon.png")
  %p © Copyright 2016, Agile Property Partners.
  = link_to 'Terms and Conditions', '/terms-and-conditions'
  %p The Union Building - 51-59 Rose Lane - Norwich - Norfolk - NR1 1BY
