#header
  #header_inner
    #logo
      = link_to image_tag('logo.png'), root_url

    #header_contact_info
      = link_to '01603 567804', "tel:01603567804"
      = mail_to 'info@a-pp.co.uk'
      = link_to image_tag('facebook.png'),'https://www.facebook.com/agilepropertypartners', class: 'social_link', target: 'blank'
      = link_to image_tag('linkedin.png'),'https://www.linkedin.com/company/10347283?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10347283%2Cidx%3A2-2-3%2CtarId%3A1453477265610%2Ctas%3AAgile%20Property', class: 'social_link', target: 'blank'
      = link_to image_tag('twitter.png'),'https://twitter.com/agilepropertyp?lang=en-gb', class: 'social_link', target: 'blank'

    #menu_toggle
      .bar
      .bar
      .bar

    #main_nav
      -# Cd2Cms::Page.menu_pages.each do |page|
      =# link_to page.name, page, class: ('current' if request.path.include? page.to_param)

      <a href="/home">Home</a>
      <a href="/about-us">About Us</a>
      <a href="/investors">Investors</a>
      <a href="/norwich">Norwich</a>
      <a href="/projects">Projects</a>
      <a href="/careers">Careers</a>
      <a href="/blogs">Blog</a>
      <a href="/contact">Contact</a>
