= form_for(Cd2Cms::Enquiry.new) do |f|
  .field
    = f.label :name
    = f.text_field :name 
  .field
    = f.label :email
    = f.email_field :email

  .field
    = f.label :body, 'Your Message'
    = f.text_area :body
  .action
    = f.submit 'Send Enquiry'