.sidebar_section
  %h3 Looking for Property investment in Norwich?
  %p If you would like to find out more, or have a question for us, we are happy to help.
  = link_to 'Get in touch', new_enquiry_path, class: 'sidebar_action'
  = link_to 'Call 01603 567804', 'tel:01603567804', class: 'sidebar_action'
