%h1 Website Enquiry
%p
  %b From
  %br
  = @enquiry.name
%p
  %b Email
  %br
  = @enquiry.email
%p
  %b Phone
  %br
  = @enquiry.phone
- if @enquiry.project
  %p
    %b Project
    %br
    = @enquiry.project.name
%p
  %b Message
  %br
  = simple_format @enquiry.body
