Website Enquiry

From:
<%= @enquiry.name %>

Email:
<%= @enquiry.email %>

Phone:
<%= @enquiry.phone %>

<% if @enquiry.project %>
Project:
<%=  @enquiry.project.name %>
<% end %>

Message:
<%= @enquiry.body %>
