= render 'seo', object: @page

.inner_content

#contact_panel
  = raw @page.body
  = form_for(@enquiry) do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.label :phone
      = f.text_field :phone
    - if params[:project_id]
      .field
        = f.label :project_id
        = f.collection_select :project_id, Cd2Cms::Project.all, :id, :name, selected: params[:project_id]
    .field
      = f.label :body, 'Your Message'
      = f.text_area :body
    .action
      = f.submit 'Send Enquiry'
  .contact_deets
    .contact.phone_contact
      %span Phone
      %span 01603 567804
    .contact.email_contact
      %span Email
      %span info@a-pp.co.uk
    .contact.contact_address
      Agile Property Partners - The Union Building - 51-59 Rose Lane - Norwich - Norfolk - NR1 1BY
