= render 'seo', object: @page

.inner_content
  #page_banner
    = image_tag @page.feature_image&.slideshow rescue ''

  .split_page
    .main_column
      .body_text
        %h1 Thank you for getting in touch
        %p Somebody from the team will take a look and get back to you. #{link_to 'Back to Home', root_path}