!!!
%html{:prefix => "og: http://ogp.me/ns#"}
  %head
    = meta_tags
    - if content_for? :image
      %meta{:content => yield(:image), :property => "og:image"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "initial-scale=1", :name => "viewport"}
    %link{:href => "/fav.png", :rel => "shortcut icon", :type => "image/png"}/
    %script{:src => "https://use.typekit.net/idx4cdr.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74436887-1', 'auto');
      ga('send', 'pageview');
    :javascript
      var trackcmp_email = '';
      var trackcmp = document.createElement("script");
      trackcmp.async = true;
      trackcmp.type = 'text/javascript';
      trackcmp.src = '//trackcmp.net/visit?actid=999794128&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
      var trackcmp_s = document.getElementsByTagName("script");
      if (trackcmp_s.length) {
      trackcmp_s[0].parentNode.appendChild(trackcmp);
      } else {
      var trackcmp_h = document.getElementsByTagName("head");
      trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
      }
    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1472243636438504'); fbq('track', "PageView");
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=1472243636438504&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/

  %body
    - if signed_in?
      = render 'admin_bar'

    = render 'header'
    = yield
    = render 'footer'